
<div class="container mt-5">
    <!-- <button (click)="addPixel()">+</button>
    <button (click)="reducePixel()">-</button> -->
    <google-map #map height="400px" width="750px" [center]="center" [zoom]="zoom">
        <map-marker #marker="mapMarker" [icon]="getIcon(isClient(mark))"
        *ngFor="let mark of allMarkers; let i=index"
        [position]="{lat: mark.latitude, lng: mark.longitude}"
        (mapClick)="openInfoWindow(marker, infoWindow)"
        >
        <map-info-window #infoWindow="mapInfoWindow">
            <div class="text-center rounded"
            style="--color: {{getColor(isClient(el)).color}};
            --lightColor: {{getColor(isClient(el)).lightColor}};
            --darkColor: {{getColor(isClient(el)).darkColor}}"
            *ngFor="let el of groupByCity(mark.city)">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header class="text-center rounded header">
                <mat-panel-title>
                    <div class="row tag">
                        <div class="col-2" *ngIf="isClient(el) && el.logo"><img class="logo" src="{{el.logo}}" ></div>    
                        <div class="col">{{el.name}}</div>
                        <div class="col-2"><i class="material-symbols-outlined">expand_more</i></div>
                    </div>
                </mat-panel-title>
                </mat-expansion-panel-header>
                <table class="table">
                    <thead *ngIf="!isClient(el)">
                        <tr>
                            <td class="rounded contacts">
                            <i (click)="toggleContacts(i)" class="material-symbols-outlined contact-icon">contact_page</i>
                            <p class="info">Contacts</p></td>
                        </tr>
                        <tr *ngIf="contacts[i] && !isClient(el)">
                            <td  class="contacts rounded" ><i class="material-symbols-outlined contact-icon">mail</i>
                            <p class="info">{{el.email}}</p></td></tr>
                        <tr *ngIf="contacts[i] && !isClient(el)">
                            <td  class="contacts rounded"><i class="material-symbols-outlined contact-icon">call</i>
                            <p class="info">{{el.phone}}</p></td>
                        </tr>
                        <tr *ngIf="contacts[i] && !isClient(el)">
                            <td  class="contacts rounded"><i class="material-symbols-outlined contact-icon">language</i>
                            <a class="info" href="`${el.website}`" target="blank">{{el.website}}</a></td></tr>
                    </thead>

                    <tr *ngFor="let item of markerInfo(isClient(el), el) | keyvalue: originalOrder">
                        <td class="rounded">
                            {{item.key}} : {{item.value}}
                        </td>
                    </tr>
                    <tr *ngIf="isClient(el)"><td class="borderless">
                        <button class="btn btn-primary" (click)="filterForCompany(el)">Matches for this company</button></td></tr>
                </table>
                <button class="btn btn-danger" (click)="deleteElement(el)">Delete</button>
            </mat-expansion-panel>
            </div>
        </map-info-window>
        </map-marker>
    </google-map>
</div>

<!-- Work: -->
<!-- [icon]="'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png'" -->
<!-- [icon]="'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'" -->
<!-- Does not work:
[icon]="'src/assets/img/google_marker_green.jpg'" -->
