.box{
    background-color: var(--lightColor);
    color: var(--darkColor);
}
p{
    font-size: 1.1rem;
    margin-top: 1rem;
}
.box .form-check-input:checked {
    background-color: var(--color);
    border-color: var(--color);
}
.specialties{
    color: var(--darkColor);
    background-color: var(--lightColor);
    border-color: var(--bs-btn-active-border-color);
    margin: .2rem;
}
.contacts{
  border: 1px solid var(--darkColor)
}
.all{
  margin-left: 1rem;
}

.mat-expansion-panel-header .mat-expansion-panel-header-title {
    justify-content: center;
    color: white;
}
.mat-expansion-panel-header.mat-expanded .mat-expansion-panel-header-title {
    color: var(--darkColor);
}
.mat-expansion-panel-header {
    background-color: var(--color);
    margin: .5rem; padding:0;
}
.mat-expansion-panel-header.mat-expanded {
    border: 1px solid var(--darkColor);
    margin: .5rem; padding:0;
}
.mat-expansion-panel-header:hover .mat-expansion-panel-header-title{
    color: var(--darkColor)
}
.mat-expansion-panel-header-title{
  margin-left: 1rem;
}

.outline-button{
  border: 1px solid var(--darkColor);
  color: var(--darkColor);
}
/* *{
  border: 1px solid red;
} */



  /* .mat-expansion-panel-header.mat-expanded .mat-expansion-panel-header-title .btn {
    border-radius: 0.25rem 0.25rem 0 0;
  } */

  /* .mat-expansion-panel-header:not(.mat-expanded) .mat-expansion-panel-header-title {
    justify-content: center;
    background-color: #f0f0f0;
    border: 1px solid #c4c4c4;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
  }

  .mat-expansion-panel-header:not(.mat-expanded) .mat-expansion-panel-header-title .btn {
    margin-right: 0.5rem;
  } */

  /* .mat-expansion-panel {
    max-width: 10rem;
  } */

  .mat-expansion-panel-content {
    display: flex;
    flex-direction: row;
  }

  .in-text{
    background-color: var(--color);
    color: white;
  }
