
.mySlider {
    width: 90% !important;
  }
  .mySlider
    .mdc-slider__thumb--with-indicator
    .mdc-slider__value-indicator-container
    .mdc-slider__value-indicator {
    width: 200px;
  }
  .mySlider
    .mdc-slider__thumb--with-indicator[ng-reflect-thumb-position='1']
    .mdc-slider__value-indicator-container
    .mdc-slider__value-indicator {
    background-color: red !important;
  }
  .mySlider
    .mdc-slider__thumb--with-indicator[ng-reflect-thumb-position='2']
    .mdc-slider__value-indicator-container
    .mdc-slider__value-indicator {
    background-color: green !important;
  }
.box{
    background-color: var(--lightColor);
    color: var(--darkColor);
}
p{
    font-size: 1.1rem;
    margin-top: 1rem;
}
.box .form-check-input:checked {
    background-color: var(--color);
    border-color: var(--color);
}
.specialties{
    color: var(--darkColor);
    background-color: var(--lightColor);
    border-color: var(--bs-btn-active-border-color);
    margin: .2rem;
}
.all{
  margin-left: 1rem;
}
.contacts{
  border: 1px solid var(--darkColor)
}


.mat-expansion-panel-header .mat-expansion-panel-header-title {
  justify-content: center;
  color: white;
}
.mat-expansion-panel-header {
  background-color: var(--color);
  margin: .5rem; padding:0;
}
.mat-expansion-panel-header:hover .mat-expansion-panel-header-title{
  color: var(--darkColor);
}
.mat-expansion-panel-header-title{
  margin-left: 1rem;
}

.mat-expansion-panel-header.mat-expanded .mat-expansion-panel-header-title {
  color: var(--darkColor);
  background-color: white;
}
.mat-expansion-panel-header.mat-expanded {
  border: 1px solid var(--darkColor);
  margin: .5rem; padding:0;
  color: var(--darkColor);
  background-color: white;
}
.mat-expansion-panel-header.mat-epanded:hover .mat-expansion-panel-header-title{
  color: var(--darkColor);
  background-color: white;
}

.specialties{
  color: var(--darkColor);
  background-color: var(--lightColor);
  border-color: var(--bs-btn-active-border-color);
  margin: .2rem;
}

.in-text{
  background-color: var(--color);
  color: white;
}
