<div class="container form-div box rounded">
    <form [formGroup]="isClient? clientForm: specialistForm" class="my-3 pt-3" >

        <select type="search" name="city" id="{{isClient? 'ccity': 'scity'}}"
            class="form-control rounded text-center my-2"
            formControlName="city">
            <option disabled selected [ngValue]="null">-- City --</option>
            <option *ngFor="let city of citiesArr"
            value="{{[city.name, city.region, city.country]}}">{{city.name}}</option>
        </select>
        <!-- <small style="color: var(--darkColor)"
        *ngIf="clientForm?.errors?.['required'] &&
        clientForm?.get('city')?.touched">** Required field **</small>             -->
        <small style="color: var(--darkColor)"
        *ngIf="clientForm?.get('city')?.invalid && clientForm?.errors?.['required']">** Required field **</small>

        <input type="text" name="name"
        class="form-control text-center my-2" placeholder="Name"
        formControlName = "name">

        <input type="text" name="picture" id="picture" *ngIf="isClient"
        class="form-control text-center my-2" placeholder="Logo image link"
        formControlName = "picture">

        <input type="text" name="id" *ngIf="!isClient"
        class="form-control text-center my-2" placeholder="ID"
        formControlName = "id">

        <select name="bm" id="{{isClient? 'c-': 's-'}}bm"
            class="form-select text-center my-3"
            formControlName = "bm">
            <option [ngValue]="null" disabled selected>--Business Manager--</option>
            <option *ngFor="let bm of BMs" value="{{bm}}">{{bm}}</option>
        </select>

        <div *ngIf="!isClient" class="contacts rounded container pb-2">
            <p>Contacts</p>
            <mat-form-field appearance="outline" >
                <mat-label>Phone number</mat-label>
                <ngx-mat-intl-tel-input formControlName="phone"
                    [enablePlaceholder]="true" [enableSearch]="true"
                    name="phone" #phone>
                </ngx-mat-intl-tel-input>
            </mat-form-field>

            <input type="text" name="email"
            class="form-control text-center my-2" placeholder="Email"
            formControlName = "email">
            <small class="text-danger"
            *ngIf="specialistForm.get('email')?.errors?.['pattern']">
            Enter a valid email address</small>

            <input type="text" name="website"
            class="form-control text-center my-2" placeholder="Website"
            formControlName = "website">
            <small class="text-danger"
            *ngIf="specialistForm.get('website')?.errors?.['pattern']">
            Enter a valid website</small>
        </div>

        <p>{{isClient? 'Activities': 'Interests'}}</p>
        <mat-expansion-panel hideToggle *ngFor="let roles of rolesArrTot"  class="mb-2"
        formArrayName="{{isClient? 'activities': 'interests'}}">
            <mat-expansion-panel-header class="rounded">
                <mat-panel-title class="rounded ">
                    {{ roles.area }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span *ngFor="let role of roles.roles; let i=index">
                <input type="checkbox" class="btn-check" autocomplete="off"
                name="{{isClient? 'c': 's'}}-{{role}}"
                id="{{isClient? 'c': 's'}}-{{role}}" value="{{role}}"
                formControlName="{{role}}">
                <label class="btn specialties" [ngClass]="getButton(false)" for="{{isClient? 'c': 's'}}-{{role}}">
                {{ role }}
                </label>
            </span>
        </mat-expansion-panel>

        <div *ngIf="!isClient" class="contacts rounded container my-3">
            <p>Background</p>
            <select name="background" id="background"
            class="form-select text-center my-3"
            formControlName = "background">
                <option [ngValue]="null" disabled selected>--Background--</option>
                <option *ngFor="let d of degArr" value="{{d}}">{{d}}</option>
            </select>

            <div class="input-group mb-3">
                <span class="me-3">Experience</span>
                <input type="number" name="experience"
                    class="form-control "   min="0" max="10"
                    formControlName = "experience">
                <span class="input-group-text">years</span>
            </div>
        </div>

        <div *ngIf="!isClient" class="contacts rounded container">
            <p> Mobility </p>
            <input type="checkbox" class="form-check-input" id="all-Italy"
                (click)="checkAllItaly()">
                <label class="form-check-label all" for="all-Italy">
                    All Italy
                </label>
                <hr>
            <mat-expansion-panel hideToggle *ngFor="let macroregion of macroregions"
            formArrayName="mobility" [disabled]="checkedAllItaly">
                <mat-expansion-panel-header class="rounded">
                    <mat-panel-title class="rounded ">
                        {{ macroregion.area }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <input type="checkbox" class="form-check-input" id="all-{{macroregion.area}}"
                (click)="checkAll(macroregion.area)">
                <label class="form-check-label all" for="all-{{macroregion.area}}">
                    All
                </label>
                <hr>
                <span *ngFor="let region of macroregion.regions; let i=index">
                    <input type="checkbox" class="btn-check" autocomplete="off" name="{{macroregion.area}}"
                    id="new-{{region}}" value="{{region}}"
                    formControlName="{{region}}">
                    <label class="btn specialties" [ngClass]="getButton(false)" for="new-{{region}}">
                    {{ region }}
                    </label>
                </span>
                </mat-expansion-panel>

            <div class="input-group my-3">
                <span class="me-3">Notice time</span>
                <input type="number" name="notice"
                    class="form-control "  min="1" max="100"
                    formControlName = "start">
                <span class="input-group-text">days</span>
            </div>
        </div>

        <button class="btn m-2 mb-4" [ngClass]="getButton(isClient)"
        (click)="add()">Add {{isClient? "client": "consultant"}}</button>

    </form>

</div>
