#sidebar-div{
    background-color: var(--main);
    color: white;
    border: solid white 1px;
    max-height: 85vh;
    overflow-y: auto;
}
hr { color: var(--dark-color-black)}
.form-div{
    background-color: var(--dark-color-black);
    color: var(--main);
}
h4{cursor: pointer;}


