<div id="sidebar-div" class="d-flex flex-column flex-shrink-0 p-3 text-center rounded">
    <div> 
        <h4 (click)="toggleFilter()">Filter</h4>
        <div [hidden]="!isFilterOpen">
            <button class="btn btn-primary m-2" (click)="toggleFilterClient()">Client</button>
            <button class="btn btn-success m-2" (click)="toggleFilterSpecialist()">Specialist</button>    
            <app-filter *ngIf="isFilterClientOpen" [isClient]="true"
            style="--color: {{getColor(true).color}}; 
           --lightColor: {{getColor(true).lightColor}}; 
           --darkColor: {{getColor(true).darkColor}}"></app-filter>        
            <app-filter *ngIf="isFilterSpecialistOpen" [isClient]="false"
            style="--color: {{getColor(false).color}}; 
           --lightColor: {{getColor(false).lightColor}}; 
           --darkColor: {{getColor(false).darkColor}}"></app-filter>
        </div>
        <hr>
        <!-- <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header class="text-center rounded header">
            <mat-panel-title class="colors"> -->
                <!-- <h4>Add New</h4> -->
            <!-- </mat-panel-title>
            </mat-expansion-panel-header> -->
            <!-- <div class="colors"> -->
        <h4 (click)="toggleNew()">Add New</h4>
        <div [hidden]="!isNewOpen"> 
        <button class="btn btn-primary m-2" (click)="toggleClient()">Client</button>
        <button class="btn btn-success m-2" (click)="toggleSpecialist()">Specialist</button>
           <app-add-new [isClient]="true" *ngIf="isClientOpen"
           style="--color: {{getColor(true).color}}; 
           --lightColor: {{getColor(true).lightColor}}; 
           --darkColor: {{getColor(true).darkColor}}"></app-add-new>
           <app-add-new [isClient]="false" *ngIf="isSpecialistOpen"
           style="--color: {{getColor(false).color}}; 
           --lightColor: {{getColor(false).lightColor}}; 
           --darkColor: {{getColor(false).darkColor}}"></app-add-new>
        </div>
            
    </div>