<div class="text-center rounded" *ngFor="let el of groupByCity(mark.city)">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="text-center rounded header">
        <mat-panel-title>
            <div class="rounded favourite col-2 align-middle"
             (click)="isStarFull? removeFavorite(el): addFavorite(el); $event.stopPropagation();">
                <i *ngIf="!isStarFull" class="material-icons align-middle me-2">star_border</i>
                <i *ngIf="isStarFull" class="star-full material-icons align-middle me-2">star</i>
            </div> 
            <div class="tag row">
                <div class="col" *ngIf="isClient(el) && el.logo"><img class="logo" src="{{el.logo}}" ></div>
                <div class="col">{{isClient(el)? el.name : el.id}}</div>
                <div class="col">{{isClient(el)? el.need : el.interests[0]}}</div>
                <div class="col"   *ngIf="!isClient(el)">({{el.experience}} y)</div>
                <div class="col-1"><i class="material-symbols-outlined">expand_more</i></div>
            </div>
        </mat-panel-title>
        </mat-expansion-panel-header>
        <table>
            <tr *ngFor="let item of markerInfo(isClient(el), el) | keyvalue: originalOrder">
                <td class="rounded">
                    <p>{{item.key}}</p>
                    <div *ngFor="let val of item.value; let i=index">
                        <div class="rounded" [ngClass]="'specialties'">{{val}}</div>
                        <!-- check if need and change its colour -->
                    </div>
                </td>
            </tr>
        </table>
        <span *ngIf="!isClient(el)">
            <button class="btn me-2" [ngClass]="getButton(isClient(el))">
                <i (click)="toggleContacts()"
                class="material-symbols-outlined align-middle mr-2">contact_page</i>
            </button>
            <button class="btn me-2" [ngClass]="getButton(isClient(el))" (click)="match(el)">Find match</button>
            <button class="btn btn-danger" (click)="deleteElement(el)">Delete</button>
        </span>
        <table *ngIf="showContacts">
            <tr>
                <td  class="contacts p-3 rounded"><i class="material-symbols-outlined mr-2">mail</i>
                <p class="m-0">{{el.email}}</p></td></tr>
            <tr>
                <td class="contacts p-3 rounded"><i class="material-symbols-outlined mr-2">call</i>
                <p class="m-0">{{el.phone}}</p></td></tr>
            <tr *ngIf="el.website">
                <td class="contacts p-3 rounded"><i class="material-symbols-outlined mr-2">language</i>
                <a class="m-0" href="`${el.website}`" target="blank">{{el.website}}</a></td></tr>
        </table>
    </mat-expansion-panel>   
</div>


<!-- <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header class="text-center rounded header">
    <mat-panel-title>
        <i (click)="toggleContacts()"
        class="material-symbols-outlined align-middle mr-2">contact_page</i>
    </mat-panel-title>
    </mat-expansion-panel-header>
    <table>
        <tr>
            <td  class="contacts p-3 rounded"><i class="material-symbols-outlined mr-2">mail</i>
            <p class="m-0">{{el.email}}</p></td></tr>
        <tr>
            <td class="contacts p-3 rounded"><i class="material-symbols-outlined mr-2">call</i>
            <p class="m-0">{{el.phone}}</p></td></tr>
        <tr *ngIf="el.website">
            <td class="contacts p-3 rounded"><i class="material-symbols-outlined mr-2">language</i>
            <a class="m-0" href="`${el.website}`" target="blank">{{el.website}}</a></td></tr>
    </table>
</mat-expansion-panel> -->