<div class="favorite">
    <!-- <button class="btn btn-primary">
        <i class="star-full material-icons align-middle me-2 favorite-star">star</i>
    </button>
    <div class="favorite-list">
        <p>favorites</p>
        <button class="btn btn-warning">Export</button>
    </div> -->
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="text-center rounded header">
        <mat-panel-title>
            <div class="row">
                <div class="col"><i class="star-full material-icons align-middle favorite-star">star</i></div>
                <div class="col"><i class="material-symbols-outlined expand">expand_more</i></div>
            </div>
        </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="contact-box card" *ngFor="let fav of favorites">
            <p>{{fav.id}}</p>
            <i class="material-symbols-outlined close" (click)="removeFavorite(fav)">close</i>
        </div>
        <hr>
        <div class="d-flex justify-content-center my-4">
            <button class="btn btn-warning" (click)="saveFavorite()">Export</button>
        </div>
    </mat-expansion-panel>
</div>
