:root{
    --dark-color-black: #212121;

    --light-blue: #9bbff4;
    --light-green: #bbdaa4;

    --dark-blue: #093d95;
    --dark-green: #085731;

    --google-blue: #4285F4;
    --google-green: #0F9D58;
    --google-red: #DB4437;
    --google-yellow: #F4B400;

    --grey: #d2d2d2;
}


    /* --less-dark-blue: #0d5bdd; */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
