.sidebar{
    width:30%;
    position: absolute;
    right: 0;
}
/* *{
    border: 1px solid red;
} */

@media screen and (max-width: 1000px) {
    .sidebar {
      background-color: blue;
    }
    .map{
        width: 300px;
    }
}