.right-aligned{
    width: 30%;
    position: absolute;
    right: 11rem;
    min-width: 315px;
}
.sidebar, .excel {    width: 100%;}
.excel{
    background-color: var(--main);
    align-content: center;
}
#total-div{  margin: 0;}
#map {  position: relative; left: 0;}
/* *{
    border: 1px solid red;
} */


@media screen and (max-width: 1050px){
  #map           {     width:100vw;                       }
  .right-aligned {     left: 35vw; position: relative;    }
}

