<div class="container">

<div class="modal-body row">
  <div class="col-lg-6 map">
    <app-map></app-map>
  </div>
  <div class="left-aligned">

    <div class="col-lg-6 sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-lg-6 p-2 mt-2 excel text-center rounded container">
      <app-load-excel [isClient]="true"
      style="--color: {{getColor(true).color}};
      --lightColor: {{getColor(true).lightColor}};
      --darkColor: {{getColor(true).darkColor}}"
      ></app-load-excel>

      <app-load-excel [isClient]="false"
      style="--color: {{getColor(false).color}};
      --lightColor: {{getColor(false).lightColor}};
      --darkColor: {{getColor(false).darkColor}}"
      ></app-load-excel>

  </div>
    <app-favorite></app-favorite>
</div>
</div>
