.left-aligned{
    width: 30%;
    position: absolute;
    right: 0;
}
.sidebar, .excel {    width: 100%;}
.excel{
    background-color: var(--grey);
    /* color: var(--dark-color-black); */
    align-content: center;
}
/* *{
    border: 1px solid red;
} */

@media screen and (max-width: 1000px) {
    .left-aligned {
      width:40%;
    }
    /* .map{
        width: 300px;
    } */
}